<%- partial('_partial/header') %>
<section class="archive">
    <% if (site.tags.length){ %>
        <h1 class="page-type-title"><%= __('tags') %></h1>
        <%- list_tags({show_count: theme.show_count}) %>
    <% } %>
</section>
<%- partial('_partial/footer') %>